table {
  /*border-collapse: collapse;*/
  border: 1;
  width: 100%;
}

.test td {
  text-align: left;
  padding-right: 20px;
}
.tablestuff thead {
  display: table-header-group;
}

/* tr:nth-child(even) {background-color: #f2f2f2; color: #303030;} */

