table {
  /*border-collapse: collapse;*/
  border: 1;
  width: 100%;
}

table.test td {
  text-align: left;
  margin-right: 50%;
}
.tablestuff thead {
  display: table-header-group;
}

/* tr:nth-child(even) {background-color: #f2f2f2; color: #303030;} */

