<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">  
  <mat-toolbar color="primary">TV Shows

  </mat-toolbar>
  <!-- <nav class="fixed-top">
    <div class="searchBar">
        <input type="text" placeholder="Titles">
        <button id="searchBtn" type="submit">Search</button>
    </div> 
  </nav> -->

  <div class="mat-app-background"><app-title-search></app-title-search></div>
  <mat-card><div><app-show-result></app-show-result></div></mat-card>

  <div class="bottom"> 
    <div><h3>Cast</h3></div>

    <div><h3>Episode List</h3></div>
 
  </div>


</div>