* {
  /* font-family: arial,sans-serif; */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} 

mat-card {
  height: 500px;
  padding: 20px;
  margin: 30px;
  margin-left: 100px;
  margin-right: 100px;
}

.bottom {
  position: relative;
  top: 5px;
  left: 110px;
  width: 80%;
  margin-right: 110px;
} 

h3 {
  background-color: lightgray;
}