<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">  
  <mat-toolbar color="primary">
    Brows
  </mat-toolbar>

  <div class="mat-app-background">
    <app-title-search (searchEvent)="doSearch($event)"> </app-title-search>
  </div>

  <!-- <mat-card> -->
      <!-- <app-show-result (castEvent)="testEvent($event)" [tv]="showResult"></app-show-result> -->
      <!-- <app-show-result [tv]="showResult"></app-show-result>
  </mat-card> -->
  
  <!-- <div class="bottom"> 
    <div>
      <h3>Cast</h3>
      <app-tv-cast [cast]="showResult"></app-tv-cast>
    </div>
    <div><h3>Episode List</h3></div>
  </div> -->

  <mat-tab-group mat-align-tabs="start">
      <mat-tab label="Main Page">
          <div>
            <h3>Main Page</h3>
            <mat-card>
                <app-landing></app-landing> 
            </mat-card>
          </div>
        </mat-tab>
    <mat-tab label="Summary">
      <div>
        <h3>Summary</h3>
        <mat-card>
            <app-show-result [tv]="showResult"></app-show-result> 
        </mat-card>
      </div>
    </mat-tab>

    <mat-tab label="Cast">
      <div>
        <h3>Cast</h3>
        <app-tv-cast [cast]="showResult"></app-tv-cast>
      </div>
    </mat-tab>

    <mat-tab label="Episodes">
      <div>
        <h3>Episodes</h3>
        <app-tv-episode [epi]="showResult"></app-tv-episode>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>