<div><h3> Welcome to Brows, the best way to browse TV Shows on the web. </h3>
  <p>To navigate:</p>
  <span>
  <ol>
    <li>Simply type the name of the show you're interested in the above title field.</li>
    <li>Click on summary, cast, and episodes list and get ready to absorb!</li>
  </ol>
  <br>
</span>
</div>
<mat-divider></mat-divider>
<div><br>
  <h3>About us:</h3>
  <p>Brows is a collaborative project built by a talented team of student web developers at Kal Academy. Brows is built on Angular.</p>
  <img src = "https://angular.io/assets/images/logos/angular/angular.svg" height="200">
</div>
